body {
    position: relative;
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #282a36;
    border: 4px solid white;
}

a {
    margin: 10px;
    font-family: "Fira Code";
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: transform 1.05;
    
}

a:hover{

    transform: scale(1.05)
}