body {
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url(../assets/img/background1.jpg);
    background-size:cover;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

div {
    display: inline-block;
    width: 12.2%;
    border: 3px solid #fff;
    background-color: #fff;
}

img {
    width: 100%;
}